.selectionForm {
    border-top: solid 1px #808080;
    border-bottom: solid 1px #808080;
    margin-bottom: 20px;
}
.selectionFormHeader {
    color: var(--color-text);
    margin: 20px 0;
    font-weight: normal;
}

.selectionWrapper {
    display: flex;
}


.customCheckbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 70px;
}
.custom-checkbox {
    margin-right: 70px;
    margin-bottom: 22px;
}
.selectionFormImg {
    width: 100%;
    margin-bottom: 20px;
}

.customCheckbox {
    display: flex;
}

.customCheckbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    display: inline-block;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--color-small-text);
    margin-right: 10px;
    border-radius: 4px;
}
  .customCheckbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--color-small-text);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  .customCheckbox input:checked ~ .checkmark:after {
    display: block;
  }


.selectionFooter {
    display: flex;
    justify-content: space-between;
}
.selectionSteps {
    color: #808080;
}
.selectionNext {
    color: var(--color-text);
    padding: 17px 42px;
    background-color: var(--color-se-bg);
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}