.questionForm {
    width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: var(--bg-color);
    text-align: center;
    color: #fff;
}
.questionFormHeader {
    font-size: 30px;
    margin-bottom: 20px;
}
.questionFormTxt {
    margin-bottom: 40px;
}
.questionForm input {
    padding: 18px 20px;
    border-radius: 4px;
    border-color: #fff;
    margin-bottom: 10px;
    border: none;
}
.questionFormBtn {
    padding: 22px 0;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 4px;
}