.questionsFromUs {
    display: flex;
    justify-content: space-between;
    padding: 60px 19% 80px 19%;
}

.instagrammContent {
    width: 100%;
}
.instagrammLogo {
    display: block;
    margin: 0 auto;
}
.instagrammGrid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 18px;
    align-items: center;
    margin-left: 60px;
    grid-template-areas: 
        '1 2 3'
        '4 2 5';
}
.instagrammGridImage {
    display: block;
}
.instagrammGridImage1 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
}
.instagrammGridImage2 {
    grid-area: 1 / 2 / 3 / 3;
}
.instagrammGridImage3 {
    grid-area: 1 / 3 / 2 / 4;
}
.instagrammGridImage4 {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: end;
}
.instagrammGridImage5 {
    grid-area: 2 / 3 / 3 / 4;
}
